body{
    margin: 0;
    padding: 0;
    }

.main_div{
    height: 30%;
    width:50%;
    background-color: black;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    }

.head1, .head_mani{
    color:white;
    font-size: 300%;
    }